<!-- caption header -->
<div class="row">
  <h1 class="display-1 shadow">Who He Play For?</h1>
</div>

<!-- Search form -->
<form action="/search" method="GET">
  <label for="name">Who?: </label>
  <input type="text" placeholder="Player Name" name="playerName" />
  <input type="submit" value="Search" />
</form>