<!-- caption header -->
<div class="row justify-content-center">
  <h1 class="display-1 shadow col-12">Who He Play For?</h1>
</div>

<!-- Search form -->
<div class="row justify-content-center">
  <form action="/search" method="GET" class="my-2 col-12">
    <input type="text" placeholder="Player Name" name="playerName" />
    <input type="submit" value="Search" />
  </form>
</div>