<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Literata|Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/index.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="icon" href="/imgs/android-chrome-192x192.png" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif|Playfair+Display&display=swap" rel="stylesheet">

    <title>Who He Play For?</title>
  </head>

  <body>
    <!-- navbar -->
    <div class="myNav row py-4 px-2 my-0 mx-0">
      <a class="navTabs rounded" href="/" class="px-2 active">Home</a>
      <a class="navTabs rounded" href="/about" class="px-2">About</a>
      <a class="navTabs rounded" href="/search" class="px-2">Search</a>
      <a class="navTabs rounded" href="/watch" class="px-2" id="watch">Watch</a>
      <a class="navTabs rounded" href="/images" class="px-2" id="images">Images</a>
      <a class="navTabs rounded" href="https://www.nba.com/" target=_blank class="px-2">NBA.com</a>
    </div>