<!-- navbar -->
<div class="myNav row py-4 px-2 my-0 mx-0">
  <a href="/" class="px-2 active">Home</a>
  <a href="/about" class="px-2">About</a>
  <a href="/watch" class="px-2" id="watch">Watch</a>
  <a href="https://www.nba.com/" target=_blank class="px-2">NBA.com</a>
</div>