<!-- navbar -->
<div class="myNav py-4 px-2 my-0 mx-0">
  <a href="/" class="px-2 active">Home</a>
  <a href="/" class="px-2">Warriors</a>
  <a href="/" class="px-2">Lakers</a>
  <a href="/" class="px-2">Clippers</a>
</div>