<!-- list in progress -->
<div class="container justify-content-center">
  <div class="text-center px-3" id="rosterText">
    <h3><u>Results</u></h3>
    <% for(let p in data.data) { %>
    <h4 class="text-left" id="resultsText"><%=data.data[p].first_name%> <%=data.data[p].last_name%> <%= data.data[p].team.full_name%></h4>
    <% } %>
  </div>
</div>