<% include partials/header %>

<% include partials/navBar %>

<div id="aboutPage" class="container px-0">
  <div class="row pt-5 justify-content-center">
    <div class="col-12 col-md-3">
      <h3 id="aboutTitle" class="mt-5">About</h3>
      <p id="aboutText">This page was created as a utility to quickly find players and their respective teams.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
        irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        Please enjoy the video below if you've never seen the show before!</p>
    </div>
    <div class="video col-12 col-md-9">
      <iframe src="https://www.youtube.com/embed/cBHPQ25J07E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>

<% include partials/footer %>