<% include partials/header %>

<div id="aboutPage" class="container-fluid px-0">
  <div class="row mx-auto pt-5 px-3 justify-content-center">
    <div id="aboutBody" class="px-4 col-12 col-md-3">
      <h3 id="aboutTitle" class="mt-5">About</h3>
      <p id="aboutText" class="px-4">This page was created as a utility to quickly find players and their respective teams. The name
        is based on the NBA on TNT bit, "Who He Play For?", hosted by Ernie Johnson, Charles Barkeley, Shaquille O'neal,
        Kenny "The Jet" Smith.
        To search, simply enter the first and last name of the player you're searching for. If you only know
        the first or last name, simply search using what you know. The application will display the most relevant
        players on the results/search page. If there are no players found with the name given, it will display
        "No players found.".
        Please enjoy the video here if you've never seen the show before!</p>
    </div>
    <div class="video col-12 col-md-9">
      <iframe src="https://www.youtube.com/embed/cBHPQ25J07E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>

<% include partials/footer %>