<% include partials/header %>

<% include partials/navBar %>

<section id="imagesPage" class="container-fluid ">
  <div id="imageRow1" class="row justify-content-center align-items-center">
    <img class="images img-fluid col-12 col-md-4" src="/imgs/chuck1.png" />
    <a class="col-12 col-md-4 imageBtns btn btn-info" href="https://github.com/jaylin94/who-he-play-for/raw/master/public/imgs/chuck1.png">Download Image</a>

    <!-- <img id="image2" class="images img-fluid col-12 col-md-4" src="/imgs/2.png" />
    <a id="image2Btn" class="col-12 col-md-4 imageBtns btn btn-primary align-self-center" href="https://github.com/jaylin94/who-he-play-for/raw/master/public/imgs/2.png">Download Image</a> -->
  </div>
</section>

<% include partials/footer %>