<% include partials/header %>

<section id="imagesPage" class="container">
  <div class="row imageRow text-center d-flex justify-content-center mx-auto pt-5">
    <div class="col-4 col-md-4">
      <div class="img-thumbnail">
        <img class="images img-fluid" src="/imgs/chuck1.png" />
        <div class="caption">
          <a class="imageBtns btn btn-info" href="https://github.com/jaylin94/who-he-play-for/raw/master/public/imgs/chuck1.png">Download Image</a>
        </div>
      </div>
    </div>

    <div class="col-4 col-md-4 justify-content-center">
      <div class="img-thumbnail">
        <img class="images img-fluid" src="/imgs/2.png" />
        <div class="caption">
          <a class="imageBtns btn btn-info" href="https://github.com/jaylin94/who-he-play-for/raw/master/public/imgs/2.png">Download Image</a>
        </div>
      </div>
    </div>

    <div class="col-4 col-md-4 justify-content-center">
      <div class="img-thumbnail">
        <img class="images img-fluid" src="/imgs/kenny_chuck.png" />
        <div class="caption">
          <a class="imageBtns btn btn-info" href="https://github.com/jaylin94/who-he-play-for/raw/master/public/imgs/kenny_chuck.png">Download Image</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row imageRow text-center d-flex justify-content-center mx-auto pt-5">
    <div class="col-4 col-md-4">
      <div class="img-thumbnail">
        <img class="images img-fluid" src="/imgs/chuck1.png" />
        <div class="caption">
          <a class="imageBtns btn btn-info" href="https://github.com/jaylin94/who-he-play-for/raw/master/public/imgs/chuck1.png">Download Image</a>
        </div>
      </div>
    </div>

    <div class="col-4 col-md-4 justify-content-center">
      <div class="img-thumbnail">
        <img class="images img-fluid" src="/imgs/2.png" />
        <div class="caption">
          <a class="imageBtns btn btn-info" href="https://github.com/jaylin94/who-he-play-for/raw/master/public/imgs/2.png">Download Image</a>
        </div>
      </div>
    </div>

    <div class="col-4 col-md-4 justify-content-center">
      <div class="img-thumbnail">
        <img class="images img-fluid" src="/imgs/kenny_chuck.png" />
        <div class="caption">
          <a class="imageBtns btn btn-info" href="https://github.com/jaylin94/who-he-play-for/raw/master/public/imgs/kenny_chuck.png">Download Image</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row imageRow text-center d-flex justify-content-center mx-auto pt-5">
    <div class="col-4 col-md-4">
      <div class="img-thumbnail">
        <img class="images img-fluid" src="/imgs/chuck1.png" />
        <div class="caption">
          <a class="imageBtns btn btn-info" href="https://github.com/jaylin94/who-he-play-for/raw/master/public/imgs/chuck1.png">Download Image</a>
        </div>
      </div>
    </div>

    <div class="col-4 col-md-4 justify-content-center">
      <div class="img-thumbnail">
        <img class="images img-fluid" src="/imgs/2.png" />
        <div class="caption">
          <a class="imageBtns btn btn-info" href="https://github.com/jaylin94/who-he-play-for/raw/master/public/imgs/2.png">Download Image</a>
        </div>
      </div>
    </div>

    <div class="col-4 col-md-4 justify-content-center">
      <div class="img-thumbnail">
        <img class="images img-fluid" src="/imgs/kenny_chuck.png" />
        <div class="caption">
          <a class="imageBtns btn btn-info" href="https://github.com/jaylin94/who-he-play-for/raw/master/public/imgs/kenny_chuck.png">Download Image</a>
        </div>
      </div>
    </div>
  </div>

</section>

<% include partials/footer %>