<% include partials/header %>

<%include partials/navBar %>

<!-- container start -->
<div class="container-fluid text-light align-items-center mx-0 px-0">
  <div id="header" class="header align-items-center">
    <!-- caption header -->
    <div class="row justify-content-center">
      <h1 id="headerTitle" class="display-1">Who He Play For?</h1>
    </div>

    <!-- Search form -->
    <div class="row justify-content-center">
      <form action="/search" method="GET" class="my-2">
        <input id="searchBox" class="rounded" type="text" placeholder="Player Name" name="playerName" />
        <input id="searchBtn" class="py-2" type="submit" value="Search" />
      </form>
    </div>
    <div class="carouselBtns row justify-content-center">
      <button id="picture1" class="btn btn-primary"></button>
      <button id="picture2" class="btn btn-primary"></button>
      <button id="picture3" class="btn btn-primary"></button>
    </div>
  </div>

  <!-- container end -->
</div>

<% include partials/footer %>