<% include partials/header %>

<div class="myNav py-3 px-2 my-2 mx-2">
  <a href="/" class="px-2">Home</a>
  <a href="/" class="px-2">Portland, OR</a>
  <a href="/" class="px-2">Seattle, WA</a>
  <a href="/" class="px-2">San Francisco, CA</a>
</div>

<h1>Test</h1>

<% for(let p in data.results) { %>
<li><%=data.results[p].company.display_name%></li>
<% } %>

<% include partials/footer %>