<% include partials/header %>

<!-- container start -->
<div class="container-fluid px-0">

  <% include partials/navBar %>
  <div class="header d-flex flex-column justify-content-center align-items-center text-center text-light">
    <% include partials/caption %>
    <% include partials/roster %>
  </div>

  <!-- container end -->
</div>

<% include partials/footer %>