<% include partials/header %>

<%include partials/navBar %>

<!-- container start -->
<div class="container-fluid text-light align-items-center mx-0 px-0">
  <div id="header" class="header align-items-center" style="background-image: url('/imgs/kenny_chuck.png');">
    <!-- caption header -->
    <div class="row justify-content-center">
      <h1 id="resultsTitle" class="display-1">Results</h1>
    </div>

    <!-- list in progress -->
    <section id="results" class="container-fluid px-0">
      <div class="row text-light justify-content-center">
        <ul id="resultsList">
          <% if(data.data[0] !== undefined) { %>
          <% for(let p in data.data) { %>
          <li class="justify-content-center" id="resultsText"><%=data.data[p].first_name%> <%= data.data[p].last_name %> | <%= data.data[p].team.full_name%></li>
          <% } %>
          <% } else { %>
          <h3 class="justify-content-center">No players found.</h3>
          <% } %>


        </ul>
      </div>
    </section>

    <!-- Search form -->
    <div class="row justify-content-center">
      <form action="/search" method="GET" class="my-2">
        <input id="searchBox" type="text" placeholder="Player Name" name="playerName" />
        <input id="searchBtn" class="py-2" type="submit" value="Search" />
      </form>
    </div>
    <div class="carouselBtns row justify-content-center">
      <button id="picture1" class="btn btn-primary"></button>
      <button id="picture2" class="btn btn-primary"></button>
      <button id="picture3" class="btn btn-primary"></button>
    </div>
  </div>

  <!-- container end -->
</div>

<% include partials/footer %>
