<% include partials/header %>

<%include partials/navBar %>

<!-- container start -->
<div class="container-fluid px-0">

  <div class="watchVideo d-flex justify-content-center align-items-center">
    <iframe src="https://www.youtube.com/embed/SdD4yjmKHX0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <!-- container end -->
</div>

<% include partials/footer %>

<% include partials/footer %>