body {

}

.header {
  padding-top: 3%;

  background-image: url("/imgs/2.png");
  background-size: cover;
  background-position: center center;

  text-shadow: 1px 1px 5px black;

  min-width: 100vw;
  min-height: 100vh;
}


.myNav {
  min-width: 100vw;
  max-height: 2vh;
  display: flex;
  background-color: coral;
  position: fixed;
}

.myNav > a {
  float: left;
  display: inline-flex;
  color: white;
}
